.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-e {
    justify-content: space-evenly;
}

.justify-space-b {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}