// margins
.mb10 {
    margin-bottom: 10px;
}

.mb25 {
    margin-bottom: 25px;
}

.mlr-auto {
    margin-right: auto;
    margin-left: auto;
}

// paddings
.p15 {
    padding: 15px;
}

// widths
.width90 {
    width: 90%;
}

// texts
.text-center {
    text-align: center;
}

.white {
    color: white;
}